* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.index-main #text-article-2 .text-article div.article-content, .index-main #picture-article-1 .picture-article .article-title {
  backdrop-filter: blur(3px);
  border-radius: 0px 20px 20px 0px;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}

.index-main #picture-article-1 .picture-article .picture-div .picture, .header__logo {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.index-main #text-article-2 .text-article .article-content, .index-main #text-article-1 .text-article .article-content, .index-main #text-article-0 .text-article .article-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-higlight-veronica {
  color: #a42cd6;
}

.placeholder {
  height: 100px;
  width: 100px;
  background-color: #CB88E7;
}

.text-higlight-coquelicot {
  color: #ff3f00;
}

.text-higlight-orange {
  color: #ff7f11;
}

p {
  font-family: "Lexend";
  font-size: 1.4rem;
}

button {
  background-color: #a42cd6;
  padding: 5px 10px 5px 10px;
  border-radius: 100vw;
  border: none;
}

h1, h2, h3, h4, h5, h6 {
  color: #343a40;
  font-family: "Archivo Black";
}

.header {
  background-color: #CB88E7;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0 10px 0 0;
  align-items: center;
  height: 10vh;
  min-height: 60px;
  max-height: 100px;
}
.header__logo-div {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 10px;
  gap: 10px;
}
.header__logo {
  max-width: 100px;
  max-height: 100px;
  min-width: 50px;
  min-height: 50px;
  border-radius: 10px;
}
.header__title {
  display: none;
  font-size: 2rem;
}
.header__buttons {
  display: flex;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
  text-wrap: nowrap;
}
.header__buttons button {
  flex-grow: 1;
  max-width: 100px;
}
.header__btn-logout {
  background-color: firebrick;
  display: none;
}
@media screen and (min-width: 375px) {
  .header__title {
    display: block;
  }
}

footer {
  height: 200px;
  background-color: #d3c1c3;
  margin-top: 15vh;
}

.index-main {
  margin-top: 10vh;
}
.index-main #picture-article-1 .picture-article {
  background-image: url("../images/image1.jpg");
  background-position: 50% 50%;
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  height: clamp(250px, 20vh, 500px);
}
.index-main #picture-article-1 .picture-article .article-title {
  text-align: start;
  width: clamp(230px, 75%, 300px);
  font-size: 2rem;
  margin-left: 10px;
}
.index-main #picture-article-1 .picture-article .picture-div {
  display: none;
}
@media screen and (min-width: 768px) {
  .index-main #picture-article-1 .picture-article {
    justify-content: space-evenly;
  }
  .index-main #picture-article-1 .picture-article .article-title {
    margin: 0;
  }
  .index-main #picture-article-1 .picture-article .picture-div {
    display: block;
    width: clamp(100px, 100%, 290px);
    height: clamp(100px, 100%, 290px);
    padding: 10px;
  }
  .index-main #picture-article-1 .picture-article .picture {
    border-radius: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .index-main #picture-article-1 .picture-article {
    height: clamp(250px, 70vh, 500px);
  }
  .index-main #picture-article-1 .picture-article .article-title {
    font-size: 3rem;
    height: 250px;
    width: clamp(230px, 75%, 400px);
    border-radius: 0 40px 40px 0;
  }
  .index-main #picture-article-1 .picture-article .picture-div .picture {
    border-radius: 20px;
  }
}
.index-main #text-article-0 {
  margin-top: 10vh;
}
.index-main #text-article-0 .text-article {
  width: 100%;
  background-color: #ff7f11;
  padding: 20px;
  text-align: center;
  text-align-last: center;
}
.index-main #text-article-0 .text-article .article-content .article-title {
  font-size: 2rem;
}
.index-main #text-article-0 .text-article .article-content .article-paragraph {
  width: clamp(300px, 50%, 400px);
}
.index-main #text-article-1 .text-article {
  width: 100%;
  background-color: #ff3f00;
  padding: 20px;
  text-align: center;
  text-align-last: center;
}
.index-main #text-article-1 .text-article .article-content .article-title {
  font-size: 2rem;
}
.index-main #text-article-1 .text-article .article-content .article-paragraph {
  width: clamp(300px, 50%, 400px);
}
.index-main #text-article-2 {
  margin-top: 10vh;
}
.index-main #text-article-2 .text-article {
  background-image: url("../images/image2.jpg");
  background-position: 50% 50%;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  background-color: black;
  padding: 20px;
  text-align: center;
  text-align-last: center;
}
.index-main #text-article-2 .text-article .article-content .article-title {
  font-size: 2rem;
}
.index-main #text-article-2 .text-article .article-content .article-paragraph {
  width: clamp(300px, 50%, 400px);
}
.index-main #text-article-2 .text-article {
  background-position: 50% 80%;
  padding: 5% 0 5% 0;
}
.index-main #text-article-2 .text-article div.article-content {
  color: white;
}
.index-main #text-article-2 .text-article div.article-content h2 {
  color: inherit;
}

/*# sourceMappingURL=styles.css.map */
