// $timberwolf:#ddcfd1;
// $timberwolf:#ffecef;
// $pale-dogwood:#d3c1c3;
// $lavander-floral: #CB88E7;
// $veronica:#a42cd6;
// $tekhelet:#502274;
$orange:#ff7f11;
$coquelicot:#ff3f00;
$text-light:#343a40;
$text-dark:#212529;

$timberwolf:#9213A8;
$pale-dogwood:#D903FF;
$lavander-floral:#F4B3FF;
$veronica:#F7CCFF;
$tekhelet:#FBE6FF;
// $orange:
// $coquelicot:
// $text-light:
// $text-dark: