$timberwolf:#ffecef;
// $timberwolf:#ddcfd1;
$pale-dogwood:#d3c1c3;
$lavander-floral: #CB88E7;
$veronica:#a42cd6;
$tekhelet:#502274;
$orange:#ff7f11;
$coquelicot:#ff3f00;
$text-light:#343a40;
$text-dark:#212529;