//Mobile S Styles
.index-main{
    margin-top:10vh;
    #picture-article-1{
        @include picture-article("../images/image1.jpg");
    }

    #text-article-0{
        margin-top:10vh;
        @include text-article($orange);
    }
    
    #text-article-1{    
        @include text-article($coquelicot);
    }
    #text-article-2{
        margin-top:10vh;
        @include text-article($color:black,$background-image:"../images/image2.jpg");
        .text-article{
            background-position: 50% 80%;
            padding:5% 0 5% 0;
            div.article-content{
                color: white;
                @extend %transparent-blurr;
                h2{
                    color: inherit;
                }
            }
        }
    }
}