//Mobile S Styles
.index-main{
    margin-top:10vh;
    #picture-article-1{
        @include picture-article("../images/image1.jpg");
    }

    #text-article-0{
        margin-top:10vh;
        @include text-article($orange);
    }
    
    #text-article-1{    
        @include text-article($coquelicot);
    }
    #picture-article-2{
        margin-top:10vh;
        @include picture-article("../images/image2.jpg");
    }
}