*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import "colors";
@import "extends";
@import "mixins";

//default styles
.text-higlight-veronica{
    color:$veronica;
}

.placeholder{
    height: 100px;
    width: 100px;
    background-color: $lavander-floral;
}

.text-higlight-coquelicot{
    color: $coquelicot;
}

.text-higlight-orange{
    color: $orange;
}

p{
    font-family: 'Lexend';
    font-size: 1.4rem;
}

button{
    background-color: $veronica;
    padding: 5px 10px 5px 10px;
    border-radius: 100vw;
    border: none;
}

h1,h2,h3,h4,h5,h6{
    color: $text-light;
    font-family: "Archivo Black";
}

@import "header";
@import "index";