*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "extends";
@import "mixins";
@import "colors";
@import "header";
@import "index";

button{
    background-color: $veronica;
    padding: 5px 10px 5px 10px;
    border-radius: 100vw;
    border: none;
}

h1,h2,h3,h4,h5,h6{
    color: $text-light;
    font-family: "Archivo Black";
}